ej03/src/main/webapp/wsdl/Dado.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.ej02.educacionit.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.ej02.educacionit.com" xmlns:intf="http://ws.ej02.educacionit.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.ej02.educacionit.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="tirarDado">
    <complexType>
     <sequence>
      <element name="cantidadDeCaras" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="tirarDadoResponse">
    <complexType>
     <sequence>
      <element name="tirarDadoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="tirarDadoResponse">

      <wsdl:part element="impl:tirarDadoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="tirarDadoRequest">

      <wsdl:part element="impl:tirarDado" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Dado">

      <wsdl:operation name="tirarDado">

         <wsdl:input message="impl:tirarDadoRequest" name="tirarDadoRequest">

       </wsdl:input>

         <wsdl:output message="impl:tirarDadoResponse" name="tirarDadoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DadoSoapBinding" type="impl:Dado">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="tirarDado">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="tirarDadoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="tirarDadoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DadoService">

      <wsdl:port binding="impl:DadoSoapBinding" name="Dado">

         <wsdlsoap:address location="http://localhost:8080/ej03/services/Dado"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
